<%- include ('partials/header') %>



        <!-- Just some placeholder garbage. Replace later!!!!-->

        <h1>Test</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur dolore tempora voluptas dicta, natus possimus ipsam ducimus facere illo in doloremque veniam at quam aliquam quidem et eligendi quibusdam unde!
        </p>
        <br>
        <br>
        <br>

<%- include ('partials/footer') %>