<%- include ('partials/header') %>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Public Library</h1>
              <p class="lead">Welcome to our public library system. More to be added in the future. </p>
            </div>
          </div>


<%- include ('partials/footer') %>