a {
  color: #00B7FF;
}

.error {
  color: red;
  margin-left: 5px;
  display: inline;
}

.img-size-change {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.custom-margins {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-color {
  background-color: #06789D;
}

.header-and-footer-color {
  background-color: #005B7A;
}

.text-fix {
  color: white;
  text-decoration: none;
}

.text-fix a:hover {
  color: white;
}

.homepage-border {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  display: inline-block;
  margin-bottom: 10px;
}

#paging li {
  display: inline-block;
}